<div class="form-row mt-2 mb-2">
  <div class="col-6">
    <input class="form-control" placeholder="Введи задание" type="text" />
  </div>
  <div class="col-4">
    <select class="form-control">
      <option disabled value="0">Выбери категорию</option>
      <option value="">личные дела</option>
      <option value="">покупки</option>
      <option value="">чтение</option>
      <option value="">работа</option>
    </select>
  </div>
  <div class="col">
    <button class="btn btn-success w-100">
      добавить
    </button>
  </div>
</div>

<div class="d-flex justify-content-between p-2">
  <a href="#" (click)="toggleOnlyImportant()" class="text-muted small">
    {{ isOnlyImportant() ? "показать все" : "показать важные" }}
  </a>
  <a href="#" (click)="removeCompletedItems()" class="text-danger small">
    удалить завершенные
  </a>
</div>
<div>
  <div class="text-center text-muted p-2" *ngIf="getItems().length === 0">
    Нет записей для вывода
  </div>
  <ul class="list-group list-group-flush">
    <li
      *ngFor="let item of getItems()"
      class="list-group-item d-flex justify-content-between align-items-center task-completed"
      [class.task-important]="item.important"
      [class.task-completed]="item.completed"
    >
      <div class="task-checkbox">
        <input
          type="checkbox"
          [checked]="item.completed"
          (click)="toggleCompleted(item.id)"
        />
      </div>
      <div class="task-title">{{ item.title }}</div>
      <div class="task-category text-right text-muted small">
        {{ item.category }}
      </div>
      <div class="task-star text-right" (click)="toggleImportant(item.id)">
        <span *ngIf="item.important" class="material-icons">star</span>
        <span *ngIf="!item.important" class="material-icons">star_border</span>
      </div>
    </li>
  </ul>
</div>
